<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <context:annotation-config />

    <bean id="stage" class="com.rom4.departments.springtest.springdol.Stage"
          factory-method="getInstance"/>

    <bean id="duke" class="com.rom4.departments.springtest.springdol.Juggler" scope="prototype">
        <constructor-arg value="123"/>
    </bean>

    <bean id="poeticDuke" class="com.rom4.departments.springtest.springdol.PoeticJuggler" scope="prototype">
        <constructor-arg value="123"/>
        <constructor-arg ref="sonet29"/>
    </bean>

    <bean id="sonet29" class="com.rom4.departments.springtest.springdol.Sonnet29"/>


    <bean id="baseSaxaphonist" class="com.rom4.departments.springtest.springdol.Instrumentalist"
          p:song="la-la-la"
          abstract="true">
        <property name="instrument">
            <bean class="com.rom4.departments.springtest.springdol.Saxaphone"/>
        </property>

    </bean>

    <bean id="kenny" parent="baseSaxaphonist"/>
    <bean id="david" parent="baseSaxaphonist"/>
    <bean id="frank" parent="baseSaxaphonist" p:song="Tro lo lo"/>


    <bean id="hank" class="com.rom4.departments.springtest.springdol.OneManBand">
        <property name="instruments">
            <map>
                <entry key="saxaphone" value-ref="saxaphone"/>
                <entry key="piano" value-ref="piano"/>
                <entry key="guitar" value-ref="guitar"/>
            </map>
        </property>
    </bean>

    <bean id="saxaphone" class="com.rom4.departments.springtest.springdol.Saxaphone"/>
    <bean id="guitar" class="com.rom4.departments.springtest.springdol.Guitar"/>
    <bean id="piano" class="com.rom4.departments.springtest.springdol.Piano"/>

    <bean id="address" class="com.rom4.departments.springtest.Address"
          p:city="#{cities[ T(java.lang.Math).random()*cities.size()] }"
          p:bigCities="#{cities.^[population ge 2000000]}"/>

    <util:list id="cities">
        <bean class="com.rom4.departments.springtest.City"
              p:name="Chicago" p:state="IL" p:population="3000000"></bean>
        <bean class="com.rom4.departments.springtest.City"
              p:name="New York" p:state="NY" p:population="2000000"></bean>
        <bean class="com.rom4.departments.springtest.City"
              p:name="Odessa" p:state="Texas" p:population="100000"></bean>
    </util:list>


    <bean id="harry" class="com.rom4.departments.springtest.springdol.Magician">
        <property name="magicBox" ref="magicBox"/>
        <property name="magicWords" value="Bippity boppity boo"/>
    </bean>

    <bean id="magicBox" class="com.rom4.departments.springtest.springdol.MagicBoxImpl">
        <replaced-method name="getContents" replacer="tigerReplacer" />
    </bean>

    <bean id="tigerReplacer" class="com.rom4.departments.springtest.springdol.TigerReplacer"/>


    <bean id="pianist"
          class="com.rom4.departments.springtest.springdol.Instrumentalist"
          abstract="true">
        <property name="song" value="Chopsticks" />
        <property name="instrument">
            <bean class="com.rom4.departments.springtest.springdol.Piano" />
        </property>
    </bean>



</beans>