<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>com.rom4.departments.controller.filter.SessionFilter</filter-class>
    </filter>

    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>com.rom4.departments.controller.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

</web-app>
